@import "~bootstrap/scss/bootstrap";
@import "./fonts/stylesheet.css";

// @import url(./stylesheet.css);
body {
    #root{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: 'Inter';
    }
  &.menuActive {
    height: 100vh;
    overflow: hidden;
  }
}

.btn-wrapper {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 5px;
        bottom: 5px;
        width: 100%;
        height: calc(100% - 5px);
        background: #fff;
        z-index: 0;
        border-radius: 6px;

    }
    .btn {
        position: relative;
        border: 0;
        z-index: 1;
        transform: translateY(-0.2em);
        transition: transform 0.1s ease;
        span {
            position: relative;
            z-index: 1;
        }
    }
    &:hover {
        .btn {
            transform: translateY(-0.33em);
            &:active {
                transform: translateY(5px);
            }
        }
    }
}

.text-right {
  text-align: right;
}
.main-body {
  background: url('/images/body-bg.png')no-repeat center;
  background-size: 100% 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
  @media (max-width: 767px) {
    background-image: url('/images/body-bg-mob.png');
  }
}
.container.container-sm {
    max-width: 880px;
}

header .container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nabvar-brand a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: rgba(17, 14, 29, 0.6);
    max-width: 280px;
    display: flex;
    align-items: center;
}

.btn-transparent {
    background: transparent;
    color: #262626;
}

.btn {
    font-size: 14px;
    font-family: 'Spot Normal';
    border-radius: 6px;
    &.btn-purple {
        background: #970FA1;
        border-color: #970FA1;
        color: #fff;
        &:hover {
            background: #970FA1;
            border-color: #970FA1;
            color: #fff;
        }
    }
    &.btn-red {
        background: #D20A17;
        border-color: #D20A17;
        color: #fff;
        &:hover {
            background: #D20A17;
            border-color: #D20A17;
            color: #fff;
        }
    }
    
    &.btn-yellow {
        background: #F5C153;
        border-color: #F5C153;
        color: #fff;
        &:hover {
            background: #F5C153;
            border-color: #F5C153;
            color: #fff;
        }
    }
    &.btn-theme {
        background: #57CD77;
        color: #fff;
        border-color: #57CD77;
        
        &:hover,
        &:active,
        &:focus{
            background: #3dc160;
            border-color: #3dc160;
            color: #fff;
        }
        &:disabled {
            background: #264C3E;
            border-color: #264C3E;
            color: #fff; 
        }
    }
}

.buy-nft {
    padding: 40px 0 0;
    flex: 1;
    display: flex;
    .container {
        background: url('./images/nftBuzz.png') no-repeat;
        background-size: 100% 100%;
        background-position: center;
        max-width: 700px;
        padding: 210px 85px 0;
        height: inherit;
        position: relative;
        min-height: 750px;
    }
    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    @media (max-width: 767px) {
        .container {
            background-size: 120% 100%; 
            padding: 195px 45px 0;

        }
    }
}

.heading {
    margin: 0 0 50px;
    font-family: 'Spot Normal';
    h2 {
        // font-weight: 700;
        font-size: 60px;
        color: #fff;
        margin: 0;
    }
    .trace {
        font-family: 'Spot Outline';
    }
    h3 {
        font-size: 40px;
        color: #fff;
        margin: 0;
    }
}

.btn-yellow {
    background: #FFC71F;
    border-color: #FFC71F;
    &:hover {
      background: #e3ad0b;
      border-color: #e3ad0b;
    }
}

.text-left {
    text-align: left;
}

.buyDesc {
    max-width: 350px;
    margin: 0 auto;
    .buyCalculator {
        max-width: 410px;
        margin-top: 20px;
        .buyCounter {
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 15px 0;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
            overflow: hidden;
            button {
                background: transparent;
                border: 0;
                padding: 8px 15px;
                color: #fff;
                font-size: 1.125rem;
            }
            input {
                height: 44px;
                background: transparent;
                flex: auto;
                text-align: center;
                border: 0;
                color: #fff;
                font-weight: 700;
                &:focus,
                &:focus-visible {
                    box-shadow: none;
                    border: 0;
                    outline: 0;
                }
            }
        }
        p {
            margin: 0 0 10px;
            font-weight: 700;
            color: #fff;
            &.dim {
                color: rgba(255, 255, 255, 0.6);
            }
        }
        .progress {
            background: rgba(255, 255, 255, 0.1);
            height: 0.875rem;
            border-radius: 40px;
            .progress-bar {
                background: #970FA1;
                border-radius: 40px;
            }
        }
        .btn {
            padding: 12px 20px;
            font-size: 16px;
            color: #fff;
            font-family: "Spot Normal";
            letter-spacing: 0.12rem;
        }
        @media(max-width: 767px) {
            margin-top: 10px;
        }
    }
    ul.f-figures {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 0;
            p {
                margin: 0;
                font-size: 12px;
                font-weight: 700;
                color: #fff;
                &:first-child {
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
}

.btn-block {
    display: block;
    width: 100%;
}

 
 ul.social-media-list {
     list-style: none;
     padding: 0;
     margin: 0;
     display: flex;
     align-items: center;
     gap: 15px;
     a {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 100%;
        color: #262626;
        img {
           max-width: 28px;
        }
    }
 }

 footer {
    color: #fff;
    padding-bottom: 50px;
    ul.social-media-list {
        justify-content: center;
    }
    p {
        margin: 0;
    }
 }

 .default-layout {
    background: #000311;
    text-align: center;
    color: #fff;
 }

 .full-menu {
    &.navbar-expand-md {
        .navbar-collapse {
            flex-grow: 0;
        }
        .navbar-nav {
            .dropdown-menu {
                background: #000;
                border: 1px solid #fff;
                border-radius: 10px;
                padding: 8px 0;
                .dropdown-item {
                    color: #fff;
                    font-family: "Titan One";
                    padding: 8px 20px;
                    &:hover {
                        background: #fff;
                        color: #000;
                    }
                }
            }
            .nav-item {
                &.show {
                    > .nav-link {
                        color: #fff;
                    }
                }
            }
            .nav-link {
                padding-left: 20px;
                padding-right: 20px;
           }
        }
    }
    .btn {
        font-family: 'Titan One';
        padding: 15px 35px;
    }
    .nav-link {
        color: #fff;
        font-family: 'Titan One';
        font-size: 16px;
    }

    @media(max-width: 767px) {
        .navbar-collapse {
            height: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: 0.25s all;
            &.show {
                height: calc(100vh - 87px);
            }
            .nav-link {
                font-size: 24px;
                padding: 15px 10px;
            }
        }
    }
 }

 .header-banner {
	position: relative;
	margin: 0 auto;
	.banner-bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
        z-index: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
	}
	.banner-desc {
		min-height: 700px;
		padding: 120px 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;
        position: relative;
        z-index: 1;
	}
    &.inner-banner {
        .banner-bg {
            img {
                object-fit: unset;
            }
        }  
        .banner-desc {
            padding: 70px 0 210px;
            overflow: hidden;
        } 

        .coming-soon {
            position: absolute;
            left: -5px;
            right: 30px;
            bottom: 53px;            
            transform: rotate(-3deg);
            width: calc(100% + 100px);
            .coming-soon-stripe {
                position: relative;
                z-index: 1;
                padding: 30px 0;
                &.purple {
                    background: #970FA1;
                }
                &.red {
                    background: #D20A17;
                }
                &.yellow {
                    background: #F5C153;
                    p {
                        color: #000;
                        background: url('./images//star-purple.png') no-repeat;
                    }
                }
            }
            p {
                color: #fff;
                margin: 0;
                font-family: "Titan One";
                padding: 0 75px;
                background: url('./images//star.png') no-repeat;
                background-size: contain;
                background-position: left center;
            }
            &:after {
                content: "";
                position: absolute;
                right: 0;
                bottom: -70px;
                left: 0;
                width: 100%;
                background: #000;
                height: 102px;
                transform: rotate(2deg);  
                z-index: 0;             
            }
            @media(max-width: 767px) {
                p {
                    padding: 5px 40px 5px 50px;
                }
                .coming-soon-stripe {
                    padding: 9px 0;
                    font-size: 12px;
                }
                &:after {
                    height: 70px; 
                    bottom: -60px;
                }
            }
        }
        @media(max-width: 767px) {
            .banner-desc {
                padding: 150px 0 130px;
                min-height: max-content;
            }
        }
    }
}
.btn {
    &.btn-lg {
        font-size: 20px;
        padding: 24px 40px;
        @media(max-width: 767px){
            font-size: 18px;
            padding: 18px 40px
        }
    }
}
section {
	padding: 70px 0;
    @media(max-width: 767px){
        padding: 40px 0
    }
}

.story-bg {
    background: url('./images/story-bg.png') no-repeat;
    background-size: 100% 100%;
    padding-top: 245px;
    padding-bottom: 90px;
    background-position: center;
    @media(max-width: 767px){
        background-size: cover;
        padding: 140px 0 90px;
    }
}

.missions {
	position: relative;
    background: url('./images/collections-bg.png') no-repeat;
    background-size: calc(100% - 50px) 100%;
    background-position: center;
    padding: 35px 60px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		z-index: 1;
		li {
			padding: 15px;
            width: 100%;
			@media (min-width: 767px) {
                max-width: 33.33%;
			    flex: 0 0 33.33%;
            }
		}
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 84px;
		height: 3px;
		width: 100%;
		background: #970FA1;
	}
    @media(max-width: 767px) {
        background-size: cover;
        padding: 5px;
        &:after {
            height: 80%;
            width: 3px;
            left: 50%;
            transform: translateX(-50%);
            top: 40px; 
        }
    }
}
.single-mission {
	.mission-title {
		border-radius: 4px;
		display: inline-block;
		padding: 8px;
		background: rgba(151, 15, 161, 0.4);
		p {
			margin: 0;
			text-transform: uppercase;
			color: #fff;
			background: #970FA1;
			padding: 15px 25px;
			border-radius: 4px;
			font-weight: 700;
		}
	}
	.misision-box {
		margin: 20px 0 0;
		text-transform: uppercase;
        background: url('./images/collection-bg.png') no-repeat;
        background-size: 100% 100%;
		.mission-body {
			border-bottom: 3px solid rgba(255, 255, 255, 0.4);
			color: #fff;
			padding: 25px;
            max-width: calc(100% - 12px);
            margin: 0 auto;
            .mission-img {
                img {
                    max-width: 100%;
                }
            }
			.mission-desc {
				padding: 30px 0;
				.heading {
					margin: 0 0 10px;
				}
			}
		}
		.mission-footer {
			padding: 40px;
            .btn-wrapper {
                width: 100%;
                max-width: 270px;
            }
			a {
				color: #57CD77;
				font-size: 20px;
                font-family: 'Spot Normal';
				margin: 20px 0 0;
				display: block;
				text-decoration: none;
			}
		}
	}
}

.partner-section {
    background: url('./images/partner-bg.png') no-repeat;
    background-size: 100% 100%;
    padding-bottom: 160px;
    @media (max-width: 767px) {
        padding-bottom: 30px;
    }
}

.twr-bg {
    background: url('./images/twr-bg.png') no-repeat;
    background-size: 100% auto;
    padding-bottom: 130px;
}

.team-section {
    margin-top: -50px;
    @media (max-width: 767px) {
        display: none;
    }
}

.content {
    p{
        &.dim {
            opacity: 0.8;
        }
    }
}
.partner-list {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		border: 1px solid rgba(255,255,255,.2);
		border-radius: 10px;
		background: #010312;
		li {
			flex: 0 0 50%;
			max-width: 50%;
			height: 140px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-left: 1px solid rgba(255,255,255,.2);
			border-bottom: 1px solid rgba(255,255,255,.2);
            @media(max-width: 767px) {
                &:nth-child(2n + 1) {
                    border-left: 0;
                }
                &:nth-last-child(-n+2) {
                    border-bottom: 0;
                }
            }
			@media (min-width: 767px) {
                flex: 0 0 33.33%;
			    max-width: 33.33%;
                &:nth-child(3n + 1) {
                    border-left: 0;
                }
                &:nth-last-child(-n+3) {
                    border-bottom: 0;
                }
            }
            
		}
	}
}

.whitepaper {
    background: url('./images/whitepaper-bg.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding-bottom: 0;
}

.whatDoge {
    background: url('./images/what-bg.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 130px 0 90px;
    .learn-more-doge {
        position: absolute;
        top: calc(100% - 40px);
        left: 0;
        right: 0;
    }
    @media(max-width: 767px) {
        background: url('./images/what-bgMob.png') no-repeat;
        padding: 60px 0 90px;
        background-size: 100% auto;
        background-position: top;
    }
}

.team-slider {
	display: flex;
	gap: 20px;
	.team-member {
		flex: 0 0 33.33%;
		max-width: 33.33%;
		border-radius: 10px;
		color: #fff;
		text-transform: uppercase;
		padding: 20px 20px 0;
        background: url('./images/team-bg.png') no-repeat;
        background-size: 100% 100%;
        position: relative;
        overflow: hidden;
		.team-desc {
			padding: 40px 0;
			.heading {
				margin: 0 0 10px;
                h3 {
                    text-shadow: 0px 2px 23px #C9D388;
                }
			}
		}
		.team-footer {
			.btn {
				text-transform: uppercase;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				font-size: 12px;
				padding: 10px 40px;
				font-weight: 600;
                position: relative;
                z-index: 9;
			}
            .overlay-section {
                position: absolute;
                left: 0;
                right: 0;
                top: 100%;
                bottom: 0;
                padding: 25px 15px;
                background: rgba(0, 0, 0, 0.6);
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                border-radius: 10px;   
                transition: 0.25s all;
            }
            .btn {
                &.active {
                    + .overlay-section {
                        top: 0;
                    }
                }
            }
		}
		.team-img {
			height: 230px;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				max-height: 100%;
			}
		}
	}
}


.card.roadmap {
	padding: 40px 0;
	text-align: left;
    background: url('./images/roadmap-bg.png') no-repeat;
    background-size: 100% 100%;
	.card-body {
		max-width: 820px;
		margin: 0 auto;
	}
}


 .timeline {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.shape {
    position: absolute;
    &.shape-12 {
        left: 0;
        bottom: 18%;
        transform: translate(-70%, 0);
    }
    &.shape-13 {
        right: 0;
        bottom: 12%;
        transform: translate(75%, 0);
    }
    &.shape-top35-left0 {
        right: 100%;
        top: 35%;
    }
    @media (max-width: 767px) {
        display: none;
    }
}

.timeline-item {
    position: relative;
    &.ml-auto {
        margin-left: auto;
        padding-left: 58px
    }
    &.mr-auto {
        padding-right: 58px
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            &:before {
                content: '';
                width: 12px; 
                height: 12px; 
                display: inline-block;
                margin-right: 10px;
                background: #57CD77;
                border-radius: 100%;
            }
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}

.timeline-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 70px;
    .images-container {
        order: 0;
        width: 310px;
        flex: 0 0 310px;
        img {
            max-width: 100%;
        }
    }
    .road-progressbar {
        order: 1;
        width: 181px;
        flex: 0 0 181px;
        .timeline-progress {
            position: absolute;
            top: 0;
            width: 3px;
            height: 100%;
            border-radius: 2px;
            overflow: hidden;
            background-color: rgba(151, 15, 161, 0.5);;
            left: calc(50% - 1.5px);
        }
        .timeline-progress-bar {
            width: 100%;
            height: 0%;
            border-radius: 2px;
            background-color: #970FA1;
            transition: height .25s ease-in-out;
        }
        .timeline-item-indicator {
            position: absolute;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: rgba(178, 187, 233, .4);
            transition: background .25s ease-in-out;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            &.primary-gradient.op-20 {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;
                transform: translate(-50%, 0)
            }
            &.timeline-item-indicator-right {
                top: 0;
                right: 0;
                transform: translate(50%, -25%)
            }
            &.timeline-item-indicator-left {
                left: 0;
                top: 0;
                transform: translate(-50%, -25%)
            }
            .timeline-item-indicator-inner {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background: #970FA1;
                transform: translate(-50%, -50%);
                transition: background .25s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                color: #fff;
                font-family: 'Spot Normal';
            }
        }
    }
    .timeline-item {
        order: 2;
        flex: 310px;
        width: 310px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 35px 30px;
    }
    @media (min-width: 767px) {
        &:nth-child(even) {
            .timeline-item {
                order: 0;
            }
            .images-container {
                order: 2;
            }
        }
    }
    &.visible {
        .road-progressbar {
            .timeline-progress {
                .timeline-progress-bar {
                    height: 100%;
                }
            }
        }
        .timeline-item-indicator {
            background-image: linear-gradient(63deg, rgba(237, 160, 31, .2), rgba(247, 220, 78, .2));
            transition-delay: .5s;
        }
    }
    @media (max-width: 767px) {
        flex-direction: column;
        padding-left: 50px;
        
        .images-container {
            width: 100%;
            flex: auto;
            margin: 0 0 25px;
        }
        .road-progressbar {
            position: absolute;
            left: 15px;
            top: 0;
            bottom: 0;
            width: auto;
            flex: auto;
            .timeline-item-indicator {
                top: 5%;
            }
        }
        .timeline-item {
            flex: auto;
            width: 100%;
        }
    }
    &:nth-child(odd) {
        .timeline-item {
            background-image: url('./images/timeline-odd-desc.png');
        }
    }
    &:nth-child(even) {
        .timeline-item {
            background-image: url('./images/timeline-even-desc.png');
        }
    }
}

.faq-bg {
    background: url('./images/faq-bg.png') no-repeat;
    background-size: 100% 100%;
    padding: 50px 70px;
    position: relative;
    @media(max-width: 767px) {
        padding: 40px 10px 10px;
    }
}

.faq {
    .accordion {
        background: transparent;
        border: 0;
        border-radius: 0;
        .accordion-item {
            background: transparent;
            border: 0;
            margin: 0 0 10px;
            border-radius: 0;
            .accordion-collapse .accordion-body {
                border: 0;
                color: #fff;
            }
        }
        .accordion-header {
            border: 0;
            .accordion-button {
                background: rgba(87, 205, 119, 0.1);
                border: 0;
                color: #fff;
                padding: 20px 30px;
                &:before {
                    content: '';
                    position: absolute;
                    right: 24px;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background: #fff;
                }
                &:after {
                    z-index: 1;
                }
            }
        }
    }
}

.pageFooter {
    background: url('./images/footer-bg.png') no-repeat;
    background-size: 100% 100%;
    padding-bottom: 150px;
    padding-top: 220px;
    @media(max-width: 767px) {
        background-size: cover;
        padding-bottom: 120px;
        padding-top: 140px;
        background-position: center;
        ul.social-media-list {
            justify-content: center;
            margin: 0;
        }
    }
}


.burger-container {
    display: inline-block;
    height: 20px;
    width: 40px;
    padding: 0;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-right: 10px;
    .burger {
      height: 100%;
      position: relative;
      display: block;
      top: 50%;
      width: 100%;
      margin-top: -12px;
      .bar {
        width: 100%;
        height: 2px;
        display: block;
        position: relative;
        background: #57CD77;
        -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        &.topBar {
          -webkit-transform: translateY(0px) rotate(0deg);
          transform: translateY(0px) rotate(0deg);
        }
        &.btmBar {
          bottom: -14px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        z-index: 1;
        background: #57CD77;
      }
    }
    &:not(.collapsed) {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      .burger {
        .bar {
          transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
          transition-delay: 0.2s;
          &.topBar {
            -webkit-transform: translateY(5px) rotate(45deg);
            transform: translateY(6px) rotate(45deg);
          }
          &.btmBar {
            top: 0;
            -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
          }
        }
        &:before {
          opacity: 0;
        }
      }
    }
  }

@media (max-width: 767px) {
  .nabvar-brand a {
    max-width: 190px;
    font-size: 14px;
  }
  .nabvar-brand a img {max-width: 65px;}

  .heading {
      margin: 0 0 20px;
      h2 {
        font-size: 40px;
    }
  }

  footer {
    text-align: center;
  }
}

.phase-sec {
    position: relative;
    background: #000;
    padding: 60px 30px 15px;
    margin-top: 30px;
    .phase-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 10px;
        overflow: hidden;
        background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 5px, transparent 5px) 0% 0%/10px 10px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 5px, transparent 5px) 100% 0%/10px 10px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 5px, transparent 5px) 0% 100%/10px 10px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 5px, transparent 5px) 100% 100%/10px 10px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 20px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 10px) no-repeat,
            linear-gradient(0deg, transparent 0%, #84cdbb 100%);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }  
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(3, 1, 15, 0.7);
        }      
    }
    .card-body {
        position: relative;
        z-index: 1;
        padding: 0;
    }
}

.phase-section {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    .phase-img {
        flex: 0 0 100%;
        img {
            width: 100%;
        }
    }
    .phase-desc {
        flex: 0 0 100%;
        text-align: left;
        color: #66FAD5;
        margin-top: 15px;
        .heading {
            margin: 0;
            h4 {
                font-size: 20px;
            }
        }
        p {
            line-height: 1.75;
            font-size: 16px;
        }
    }
    &:nth-child(odd) {
        flex-direction: row-reverse;
    }
    @media(min-width: 767px) {
        padding: 40px 0;
        .phase-img {
            flex: 0 0 50%;
            padding: 0 30px;
        }
        .phase-desc {
            margin-top: 0;
            flex: 0 0 50%;
            padding: 0 30px;
            .heading {
                h4 {
                    font-size: 28px;
                }
            }
        }
    }
}


.doge-phase-1 {
    background: url('./images/dogePhase1.png') no-repeat;
    background-size: 100% auto;
    background-position: top;
    position: relative;
    &:after {
        content: '';
        display: inherit;
        background: url('./images/hangings.png') no-repeat;
        background-size: 100% auto;
        height: 400px;
    }
    @media(max-width: 767px) {
        &:after {
            height: 100px;
        }
    }
}

.doge-phase-2 {
    background: url('./images/dogePhase2.png') no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-top: -35px;
}

.doge-phase-3 {
    background: url('./images/dogePhase3.png') no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-top: -35px;
}

.extra-images {
    img {
        max-width: 100%;
    }
}

.crown-bg {
    background: url('./images/crown-red.png') no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 480px;
    @media(max-width: 767px) {
        padding-bottom: 150px;
    }
}

.crown-yellow-bg {
    background: url('./images/crown-yellow.png') no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 480px;
    @media(max-width: 767px) {
        padding-bottom: 220px;
    }
}

.nft-char {
    position: relative;
    padding: 60px 0;
    .nft-bg {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .nft-char-slider {
        width: calc(100% - 100px);
        margin: 0 auto;
        height: 456px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .slick-track {
            display: flex;
            align-items: flex-end;
        }
        .slick-slide {
            transition: 0.25s all; 
            padding: 0 20px;
            // transform: scale(0.5);
            // width: 228px;
            // height: 230px;
            div {
                width: 100%;
                img {
                    // height: 230px;
                    max-width: 400px;
                }
            }
            &.slick-current {
                // transform: scale(1);
                // width: 456px;
                div {
                    img {
                        // height: 456px
                    }
                }
            }
        }
    }
    @media(max-width: 767px) {
        padding: 40px 0 20px;
        margin: 0 -0.5rem;
        .nft-char-slider {
            width: calc(100% - 30px);
            height: auto; 
        }
    }
}

//lottery styles
.lottery-body {
    background: url('/images/LotteryPage.png')no-repeat center;
    background-size: 100% 100%;
    flex: auto;
    flex-direction: row;
}
.left{
    @media (max-width: 900px) {
    display: none;    
    }
}
.Delot1img{
    width: 67vh;
    height: 82vh;
}
.ApeGloveCopy{
    position: absolute;  
    bottom: -13vh;
    z-index: 10;
}
.ApeGloveCopyimg{
    width: 57vh;
    height: 65vh;
}
.WaifuCopy1{
    position: absolute; 
    bottom: -12vh;
    left: 130px;
}
.WaifuCopy1img{
  height: 83%;
  width: 83%;;
}
.lootery-machine-frame{
    background: url('/images/Group1348.png')no-repeat center;
    background-size: 80% 90%;
    flex: auto;
    flex-direction: row;
    //margin-top: -1vh;
    @media (max-width: 900px) {
        background-size: 100% 100%; 
    }
}
.horizontal-center{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Jackpot{
    padding-top:30vh;
}
.Jackpotimg{
    align-self: center;
    width: 60%;
    height: 12vh;
    @media (max-width: 900px) {
        width: 70%;
        height: 70%;
    }
}

.JackpotField{
    background: url('/images/Jackpot Field.png')no-repeat center;
    background-size: 63% 73%;
    flex: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: -3.5vh;
    z-index: 1000;

    @media (max-width: 900px) {
        background-size: 75% 73%;
    }

}
.QD1Button{
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 2vh;
    @media (max-width: 900px) {
        margin-bottom: 1vh;
    }
    align-items: center;
    display: flex;
    justify-content: center;
}
.QD1Button:hover{
    background-color: transparent;
    border-color: transparent;
 }
.QD1img{
    align-self: center;
    width: 100%;
    height: 13vh;
    margin-top: -25px;
    margin-bottom: 25px;
}
.lottery-counter{
    color: white;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.Machine-back{
    background: url('/images/Machine-back-copy-1.png')no-repeat center;
    background-size: 76% 100%;
    flex: auto;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -4vh;
    @media (max-width: 900px) {
        background-size: 95% 100%;
        height: 20rem;
        width: 100%;
        margin-top: -1vh;
        // margin-bottom:30vh;
        z-index: 100;
    }
    
}
.more-draw-container{
    height: fit-content;
    flex-direction: row;
    justify-content:space-between;
    display: flex;
    align-items: center;
    width: 55%;
    @media (max-width: 900px) {
        width: 65%;
    }
}
.morebuttons{
    margin-top: 10px;
    background-color: transparent;
    border-color: transparent;
    width: fit-content;
}
.morebuttons:hover{
    background-color: transparent;
    border-color: transparent;
    width: fit-content;
}
.morebuttonsimg{
    width: 55px;
    height: 55px;
}
.lottery-number-header{
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}
.lottry-number-field{
    background: url('/images/lotterynumber.png') no-repeat center;
    background-size: 100% 59px;
    height: -moz-fit-content;
    height: fit-content;
    width: 57%;
    display: flex;
    justify-content: center;
    justify-self: flex-start;
    align-items: center;
    @media (max-width: 900px) {
        background-size: 100% 60px;
        width: 70%;
    }
}
.lottery-number-text{
    color: white;
    font-size: 38px;
    font-weight: 700;
    font-family: Inter;
}
.table-header{
    background: url('/images/Rectangle289.png') no-repeat center;
    background-size: 100% 110%;
    background: rgba(20, 9, 21, 0.9);
    padding-top: 52px;
    padding-left: 40px;
    padding-right: 40px;
    @media (max-width: 900px) {
        padding-left: 30px;
        padding-right: 30px;
        background: none;
        background-color: black;
    }
}
.table-head{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    @media (max-width: 900px) {
        margin-top: 10vh;
        flex-direction:column;
        align-items: center;
        display:flex;
    }
}
.table-header-left{
    display: flex;
    flex-direction: column;
}
.table-header-left-text{
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
    padding-top: 12px;
    @media (max-width: 900px) {
        padding-top: 12px;
        text-align: center;
    }
}
.DOGEPROJECTALLTIMEPAYOUTS{
    height: fit-content;
    width: fit-content;
    @media (max-width: 900px) {
        padding-bottom: 25px;
    }
}
.listHeader{
    margin-top: 70px;
    color: white;
}
.listHeaderText{
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}
.TablelistItem{
    height: 58px;
    color: white;
    border: 1px solid #F026BC;
}
.TablelistItemContainer{
    padding-left:20px;
}
.tablWeek{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #FDB359;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5vh;
    @media (max-width: 900px) {
        margin-left: 0vh;
    }
    
}
.tablWeekText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.tableWinnerContainer{
    display: flex;
    flex-direction: column;
}
.tableName{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
}
.tableEmail{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.tablePayoutText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: -2vh;
}